<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="first-suit" parallel="classes" thread-count="1">
  <test name="test">
    <classes>
      <!--<class name="tests.LogInTest"/>-->
      <!--<class name="tests.SendingEmailTest"/>-->
      <!--<class name="tests.BrowserMobProxyTest"/>-->
      <class name="mobile_tests.BaseTestMobile"/>
    </classes>
  </test>
</suite>